


@keyframes slide {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 80%;
  }
  50% {

top:0;
left:70%    
  }

  100% {
    top: 20%;
    left: 70%;
  }
}

  
  .frutaAnimada {
    position: absolute;
    width: 300px;
    transition: transform 1s ease-in-out;
      }

  .cereja {
    width: 600px;
    height: 1600px;
        position: fixed;
top: calc(100% * random());
left: calc(100% * random());
  }

  .cereja img {
    position: fixed;
    animation: slide 3s infinite  ; 
  }

  
  .maca {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .maca img {
    position: fixed;
    animation: slide 3s infinite linear; 
  }
  

  
  .macaDois {
    width: 600px;
    height: 1600px;
        position: fixed;
top: calc(100% * random());
left: calc(100% * random());
  }

  .macaDois img {
    position: fixed;
    animation: slide 4s infinite  ; 
  }
  
  .bananaCinco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .bananaCinco img {
    position: fixed;
    animation: slide 2s infinite linear; 
  }

  .cerejaSeis {
    width: 600px;
    height: 1600px;
        position: fixed;
top: calc(100% * random());
left: calc(100% * random());
  }

  .cerejaSeis img {
    position: fixed;
    animation: slide 4s infinite  ; 
  }
