html, body {
  height: 100vh;
  height: 100%;
  overflow: hidden;
  cursor: url('pointer.cur'), pointer;
}

/*Estilo Geral*/

body {
  background-image: url(../img/sky.jpg);
  text-align: center;
  margin: 0;
  border: 16px solid #01426a;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url('pointer.cur'), auto;
}

section {
  display: flex;
  margin: auto;
  height: 33.33%;
}

a{
  cursor: url('apointer.cur'), auto;
}

button{
  cursor: url('apointer.cur'), auto;
}

.bd-index {
  background-image: url(../img/Erro_bg.jpg);
  cursor: url('pointer.cur'), auto;
}


.bd-index section:first-child {
  display: flex;
  margin: auto;
  height: 10%;
}

.bd-index section:not(:first-child) {
  display: flex;
  margin: auto;
  height: 30%;
}

/*Estilo dos botões Iniciar, Prox Fase e botão de tela respostas errada*/
.iniciarJogo{
  margin: auto;
  width: 280px;
  height: 80px;
  border: 0px;
  font-weight: bold;
  color: #fff;
  background-color: #f60;
  box-shadow: 8px 9px 3px -3px rgba(19, 19, 19, 0.603);
  cursor: pointer;
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1000ms linear;
  z-index: 1;
  cursor: url('apointer.cur'), auto;

}

.logo_uni {
  position: absolute; 
  left: 0px;
  top:10px;
  width: 120px;
}

.atentoLogo {
  position: absolute; 
  right: 0px;
  top:0px;
  width: 130px;
}

.curadoriaLogo {
  position: absolute;
  left: 20px;
  bottom:10px;
  width: 100px;
}

.treinamentoLogo {
  position: absolute;
  right: 20px;
  bottom:10px;
  width: 120px;
}

.mini-cur-logo {
  width: 90px;
  bottom:4px;
}

.mini-trn-logo {
  width: 90px;
  bottom:6px;
}



/* Animação para pulsar o botão acima */
.pulse {
  animation: pulse 0.7s infinite;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}


.iniciarJogo:hover{
  background-color:  #fff;
  color: #f60;
  transition: background-color 1000ms linear;
}


.intro2{
  max-width:600px;
  max-height:500px;
  min-width:418px;
  min-height:204px;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 30%;
}

/*Estilo para página index imagens dos Dapolino*/
.minionsTrio{
  max-width:250px;
  max-height:300px;
  min-width:80px;
  min-height:150px;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-right: 20%;
  margin-top: -40px;

}


/* estlo do Rodapé onde se localiza o muro de plantas*/
.footer{
  background-image: url(../img/parede.png);
  background-repeat: repeat;
  background-size: 20% 100%;
  display: flex;
  flex-direction: row-reverse;

}


/*Estilo na página das bananas e flores e folhas animadas*/

.minionUP {
  position: absolute;
  bottom: 40px;
  margin-left: -30%;
  width: 45%;
}

.frutaAnimada {
  width: 200px !important;
  position: absolute;
  left: 0px;
  opacity: 0;
  animation: fade-in 2.5s normal forwards ease-in-out;
  
}

.frutaAnimada:not(:first-child) {
  width: 200px !important;
}

@keyframes fade-in {
  0% { opacity: 0 }
  25%   { opacity: 0 }
  50%   { opacity: 0 }
  75% { opacity: 0 }
  100% {opacity: 1;}
}

/*Estilo das fases*/

.fase {
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 154px;
  height: 25px;
  border: 10px solid #01426a;
  background-color: #01426a;
  font-size: 30px;
  font-weight: bold;
  color: white;
}



.div_balao {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  justify-content: center;
}
.pergunta {
  position: absolute;
  color: #007dba;
  font-weight: bold;
  font-size: 26px;
  margin: 0 auto;
  width: 400px;
  cursor: url('apointer.cur'), auto;
}
.div_balao p img {
  margin-left: -110px;
}

.alternativa{
  margin: auto;
  width: 300px;
  height: 220px;
  border: 0px;
  font-weight: bold;
  color: rgba(8, 1, 75);
  background-color: transparent;
  background-image: url(../img/alternativa_bg.png);
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  cursor: url('apointer.cur'), auto;
}

.alternativa1 {
transform: rotate(-5deg);
transition: transform .2s;
}
.alternativa2 {
  transform: rotate(1deg);
  transition: transform .2s;
}
.alternativa3 {
    transform: rotate(4deg);
    transition: transform .2s;
}
.alternativa1:hover, .alternativa2:hover, .alternativa3:hover {
  transform: scale(1.1);
}
.alternativa:hover{
  color: rgba(8, 1, 75);
}

.index-header {
  width: 100%;
  height: 50px;
  position: absolute; 
  left: 0px;
  top:-16px;
  background-color: #01426a;
}
.index-footer {
  width: 100%;
  height: 50px;
  position: absolute; 
  left: 0px;
  bottom:-16px;
  background-color: #01426a;
}

.mini-bar {
  height: 40px;
}


/* Perguntas*/
.secao1perguntas {
  height: 66.66%;
}

.minionPergunta {
  position:absolute;
  margin-top: -370px;
  width: 400px;
  right: 50px;
}


/*Ajuste de itens na página de finalização*/
.congrLeftTop {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
  width: 250px;
  height: 40px;
  border: 16px solid #01426a;
  background-color: #01426a;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.congrLeftBottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin: 0px;
  width: 350px;
  height: 40px;
  border: 16px solid #01426a;
  background-color: #01426a;
  font-size: 32px;
  font-weight: bold;
  color: white;
}


/*Ajuste e estilo na página de questão incorreta e página de acertos*/
.erro {
  background-image: url(../img/Erro_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.erro section {
  height: 100%;
  flex-direction: row;
}

.proxFase {
  font-size: 30px;
}

.img-erro-acerto {
  position: absolute; 
}
.erro1 {
  left: 30px;
  bottom:50px;
  width: 450px;
}
.erro2 {
  left: 40px;
  bottom:50px;
  width: 480px;
}
.erro-banner {
  right: 100px;
  top:100px;
  width: 750px;
}
.acerto1 {
  left: 0px;
  bottom:50px;
  width: 600px;
}
.acerto2 {
  right: 100px;
  top:50px;
  width: 600px;
}

.bnnfalsa {
  filter: grayscale(50%);
}


.btn-final {
  width: 400px;
  height: 30px;
  padding: 10px 0px;
  font-size: 26px;
  color: #f60;
  background-color:  #fff;
}

.btn-final:hover {
  color: #fff;
  background-color:  #f60;
}

/* Area responsiva altera de acordo com a resolução da Tela*/

/* Telas de até 1400px */
@media only screen and (max-width: 1400px) {
  .alternativa{
      font-size: 18px;
      width: 250px;
      height: 180px;
  }

  .index-header {
    width: 100%;
    height: 55px;
    position: absolute; 
    left: 0px;
    top:-16px;
    background-color: #01426a;
  }

  .minionPergunta {
    margin-top: -320px;
    width: 350px;
    right: 0px;
  }

  .div_balao p img {
    margin-left: -60px;
    width: 650px;
  }

  .logo_uni {
    width: 120px;
  }

  .iniciarJogo{
    width: 250px;
    height: 70px;
    font-size: 32px;
  }

  .erro-btn {
    margin-top: 300px;
  }
  .erro-btn button {
    height: 70px;
    font-size: 32px;
  }
  .btn-final {
    width: 400px;
    height: 30px;
    padding: 10px 0px;
    font-size: 26px;
    color: #f60;
    background-color:  #fff;
  }

  .erro1 {
    right: 5px;
    bottom:60px;
    width: 350px;
  }
  .erro2 {
    left: 30px;
    bottom:60px;
    width: 350px;
  }
  .erro-banner {
    right: 20px;
    top:100px;
    width: 600px;
  }
  .acerto1 {
    left: 60px;
    bottom:60px;
    width: 500px;
  }
  .acerto2 {
    right: 40px;
    top:80px;
    width: 400px;
  }

}

/* Abaixo de 900px */
@media only screen and (max-width: 900px) {


  .index-header {
    width: 100%;
    height: 55px;
    position: absolute; 
    left: 0px;
    top:-16px;
    background-color: #01426a;
  }

  .logo_uni {
    width: 120px;
  }

  .alternativa{
      font-size: 16px;
      width: 220px;
      height: 160px;
  }
  .div_balao p img {
    width: 600px;
  }
  .pergunta {
    font-size: 20px;
    margin-left: -30px;
    width: 300px ;
  }
  .minionPergunta {
    margin-top: -320px;
    width: 350px;
    right: 0px;
  }
  .frutaAnimada{ 
    width: 250px !important;
  }

  .frutaAnimada:not(:first-child) {
    width: 150px !important;
  }

  .iniciarJogo{
    width: 180px;
    height: 50px;
    font-size: 32px;
  }

  .erro-btn {
    margin-top: 350px;
  }
  .erro-btn button {
    height: 70px;
    font-size: 32px;
  }

  .btn-final {
    width: 280px;
    font-size: 26px;
    height: 30px;
    padding: 5px 0px;
  }

  .erro1 {
    left: 5px;
    bottom:60px;
    width: 300px;
  }
  .erro2 {
    left: 20px;
    bottom:60px;
    width: 320px;
  }
  .erro-banner {
    right: 0px;
    top:50px;
    width: 600px;
  }
  .acerto1 {
    left: 40px;
    bottom:60px;
    width: 400px;
  }
  .acerto2 {
    right: 40px;
    top:80px;
    width: 400px;
  }


}

/* De 500px até 767px */
@media only screen and (min-width: 600px) and (max-width: 700px) {
 
  .index-header {
    width: 100%;
    height: 55px;
    position: absolute; 
    left: 0px;
    top:-16px;
    background-color: #01426a;
  }

  .logo_uni {
    width: 120px;
  }

  .iniciarJogo{
    width: 150px;
    height: 50px;
    font-size: 26px;
  }

  .alternativa{
      font-size: 13px;
      width: 180px;
      height: 130px;
  }
  .div_balao p img {
    width: 500px;
  }
  .pergunta {
    font-size: 18px;
    margin-left: -40px;
    width: 260px ;
  }
  .minionPergunta {
    margin-top: -250px;
    width: 280px;
    right: 0px;
  }
  .frutaAnimada{ 
    width: 180px !important;
  }
  .frutaAnimada:not(:first-child) {
    width: 120px !important;
  }

  .erro-btn {
    margin-top: 400px;
  }
  .erro-btn button {
    height: 70px;
    font-size: 32px;
  }

  .btn-final {
    width: 280px;
    font-size: 26px;
    height: 30px;
    padding: 5px 0px;
  }

  .erro1 {

    left: 5px;
    bottom:50px;
    width: 240px;
  }
  .erro2 {
    left: 10%;
    bottom:50px;
    width: 290px;
  }
  .erro-banner {
    right: 0px;
    top:60px;
    width: 500px;
  }
  .acerto1 {
    left: 40px;
    bottom:55px;
    width: 300px;
  }
  .acerto2 {
    right: 40px;
    top:70px;
    width: 400px;
  }

}

/* Abaixo de 499px */
@media only screen and (max-width: 599px) {

.index-header {
  width: 100%;
  height: 55px;
  position: absolute; 
  left: 0px;
  top:-16px;
  background-color: #01426a;
}

  .logo_uni {
    width: 120px;
  }

  .iniciarJogo{
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

 .frutaAnimada{ 
  width: 150px !important;
}

.frutaAnimada:not(:first-child) {
  width: 100px !important;
}

  .alternativa{
      font-size: 12px;
      width: 300px;
      height: 80px;
  }

  .div_balao p img {
    width: 380px;
    margin-top: -100px;
    margin-left: 0px;

  }
  .pergunta {
    font-size: 16px;
    margin-left: 30px;
    margin-top: -100px;
    width: 240px ;
  }

  .secao1perguntas  {
    height: 50%;
  }
  .secao2perguntas {
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .minionPergunta {
    margin-top: -210px;
    width: 240px;
    right: 0px;
  }

  .erro-btn button {
    height: 70px;
    font-size: 20px;
  }

  .erro1 {
    left: 5px;
    bottom:50px;
    width: 200px;
  }
  .erro2 {
    left: 0px;
    bottom:50px;
    width: 290px;
  }
  .erro-banner {
    right: 0px;
    top:150px;
    width: 400px;
  }
  .acerto1 {
    left: 10px;
    bottom:50px;
    width: 250px;
  }
  .acerto2 {
    right: 10px;
    top:70px;
    width: 400px;
  }

  .btn-final {
    width: 280px;
    font-size: 26px;
    height: 30px;
    padding: 5px 0px;
  }


}

